.pageTitle{
  margin-top:20px;
  text-align:center;
  color:red;
}
.statesData{
  text-align:center;
  color:green;
}
.citesData{
  text-align:center;
  color:blue;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

